<section id="elaboration">

  <div class="mid"> 

    <div class="pure-g">

      <div class="pure-u-1">
        <h1>
          <i class="typcn typcn-flag-outline"></i> {{i18n "volunteer.heading"}}
        </h1>
     
        <p> {{{i18n "volunteer.text"}}} </p> 
      </div>

      <div class="pure-u-1">
        <h3>
          <i class="typcn typcn-volume-up"></i> {{i18n "volunteer.spread.title"}}
        </h3> 
     
        <p> {{{i18n "volunteer.spread.text"}}} </p> 
      </div>

      <div class="pure-u-1">
        <h3>
          <i class="typcn typcn-group-outline"></i> {{i18n "volunteer.checkpoint.title"}}
        </h3>

        <p> <img class="pure-img" src="http://farm3.static.flickr.com/2482/3803350236_029c7c9f9d.jpg" style="width: 100%;"> </p>

        <p> {{{i18n "volunteer.checkpoint.text"}}} </p> 
      </div>

      <div class="pure-u-1">
        <h3>
          <i class="typcn typcn-group-outline"></i> {{i18n "volunteer.chaser.title"}}
        </h3>

        <p> <img class="pure-img" src="http://farm3.static.flickr.com/2463/3804240423_37dc991d49.jpg" style="width: 100%;">
        </p>

        <p> {{{i18n "volunteer.chaser.text"}}} </p> 
      </div>

      <div class="pure-u-1">
        <h3>
          <i class="typcn typcn-group-outline"></i> {{i18n "volunteer.document.title"}}
        </h3>

        <p> <img class="pure-img" src="http://farm4.static.flickr.com/3406/3304123212_878ed532ae.jpg" style="width: 100%;"> </p>

        <p> {{{i18n "volunteer.document.text"}}} </p> 
      </div>

      <div class="pure-u-1">
        <p> {{{i18n "volunteer.contact"}}} </p> 
      </div>

      <div class="pure-u-1">
        <p> {{{i18n "volunteer.back"}}} </p> 
      </div>          

    </div>
  </div> 
</section>