<section id="gist">
  <div class="mid">
    <div class="pure-g">

      <div class="pure-u-1">
        <a name="info"></a>

        <div class="pad">
          <h1 style="text-align: center;">{{i18n "title"}}</h1>
          <ul>
            <li><i class="icon-date"></i> {{i18n "info.date"}}</li>
            <li><i class="icon-time"></i> {{i18n "info.time"}}</li>
            <li><i class="icon-address"></i> {{i18n "info.address"}}</li>
          </ul>
        </div>
      </div>

      <div class="pure-u-1">
        <div class="pad">
          <div class="responsive-embed">
            <div id="map"></div>
          </div>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-3">
        <a name="the-game"></a>
        
        <div class="pad">
          <h2>
            <i class="icon-game"></i> {{i18n "game.heading"}}
            </h2>

          <p>
            {{{i18n "game.abstract"}}}
            
          </p>

          <p>
           {{{i18n "game.organization"}}}
          </p>
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-3">
        <a name="the-task"></a>
        
        <div class="pad">

          <h2>
            <i class="icon-task"></i> {{i18n "task.heading"}}
          </h2>

          <p>
            {{{i18n "task.text"}}}
          </p>

          <p>
            {{{i18n "task.details"}}}
          </p>
          
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-3">
        <a name="how-to-join"></a>

        <div class="pad">

          <h2><i class="icon-how"></i> {{i18n "join.heading"}}</h2>

          <p>
            {{{i18n "join.text"}}}
          </p>

          <p>
            {{{i18n "join.spread"}}}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>