<div class="pure-menu pure-menu-open pure-menu-horizontal">
  <ul>
    <li>
      <a href="#">
        #jtteotn vienna 2014
      </a>
    </li>

    <li>
      <a href="#info">
        <span class="icon-when-where"></span> {{i18n "menu.when-where"}}
      </a>
    </li>

    <li>
      <a href="#the-game">
        <span class="icon-game"></span> {{i18n "menu.game"}}
      </a>
    </li>

    <li>
      <a href="#the-task">
        <span class="icon-task"></span> {{i18n "menu.task"}}
      </a>
    </li>

    <li>
      <a href="#how-to-join">
        <span class="icon-how"></span> {{i18n "menu.how"}}
      </a>
    </li>

    <li>
      <a href="#impressions">
        <span class="icon-impressions"></span> {{i18n "menu.impressions"}}
      </a>
    </li>

    <li>
      <a href="#credits">
        <span class="icon-credits"></span> {{i18n "menu.credits"}}
      </a>
    </li>

    <li>
      <a href="#">
        <span class="icon-other-journeys"></span> {{i18n "menu.other-journeys"}}
      </a>
    </li>

    <li>
      {{#is language "en"}}
        <a href="/de/">
          <span class="icon-switch-language"></span> Deutsch
        </a>
      {{/is}}

      {{#is language "de"}}
        <a href="/">
          <span class="icon-switch-language"></span> English
        </a>
      {{/is}}
    </li>
  </ul>
</div>