<section id="elaboration">

  <div class="wrapper"> 

    <div class="pure-g">

      <div class="pure-u-1">
        <h1>
          <i class="typcn typcn-flag-outline"></i> {{i18n "game.details.title"}}
        </h1> 
     
        <p> {{{i18n "game.details.text"}}} </p> 
      </div>

      <div class="pure-u-1">
        <h3>
          <i class="typcn typcn-user-outline"></i> {{i18n "game.bring.title"}}
        </h3> 
     
        {{{i18n "game.bring.bullets"}}}
        
      </div>

      <div class="pure-u-1">
        <h3>
          <i class="typcn typcn-briefcase"></i> {{i18n "game.receive.title"}}
        </h3> 
     
        {{{i18n "game.receive.bullets"}}}
      </div>

      <div class="pure-u-1">
        <h3>
          <i class="typcn typcn-flow-merge"></i> {{i18n "game.procedure.title"}}
        </h3>

        <p> {{{i18n "game.procedure.text"}}} </p> 
      </div>

      <div class="pure-u-1">
        <h3>
          <i class="typcn typcn-clipboard"></i> {{i18n "game.instructions.title"}}
        </h3> 
       
        <p> {{{i18n "game.instructions.text"}}} </p> 
      </div>

      <div class="pure-u-1">
        <h3>
          <i class="typcn typcn-clipboard"></i> {{i18n "game.rules.title"}}
        </h3> 
             
        {{{i18n "game.rules.bullets"}}} 
      </div>

      <div class="pure-u-1">
        <h3>
          <i class="typcn typcn-pin-outline"></i> {{i18n "game.safezones.title"}}
        </h3> 
       
        {{{i18n "game.safezones.bullets"}}}
      </div>


      <div class="pure-u-1">
        <p> {{{i18n "game.back"}}} </p> 
      </div>          

    </div>
  </div> 
</section>